<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!-- 使用延迟加载必须配置下面两个属性 -->
        <!-- 表示延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。默认是false -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!--属性启动时，会使带有延迟加载属性的对象立即加载。反之，每种属性按需加载。默认是true  -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    
</configuration>